   {{#ifeq user_data -1}}
    {{else}}
    <div id="action-bar">
      <div id="feed-ab" class="action-bar-item">
        <i id="feed-ab-icon" class="fa-solid fa-magnifying-glass"></i>
      </div><div id="profile-ab" class="action-bar-item">
        <i id="profile-ab-icon" class="fa-solid fa-user"></i>
      </div><div id="messages-ab" class="action-bar-item">
        
        <i id="messages-ab-icon" class="fa-solid fa-comments"></i>
      </div>
    </div>
    {{/ifeq}}
    <div id="footer">
        <a href="/terms-of-service">Terms of Service</a>
        <a href="/privacy-policy">Privacy Policy</a>
   </div>
       <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="upload-demo" class="center-block"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>
   <script>
          var user_data = "{{json user_data}}"
            user_data = user_data.replace(/&quot;/g, '\"');
            user_data = JSON.parse(user_data);
            console.log("User Data:", user_data)

            if(user_data.username == null) {
              if(document.getElementById("action-bar"))
                document.getElementById("action-bar").style.display = "none"
            }
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script type="module" src='/js/core.js?v={{current_version}}'></script>
    <script src='/public-js/croppie.min.js'></script>
<script src="/public-js/bootstrap.min.js"></script>
   <script src="https://accounts.google.com/gsi/client" async defer></script>
    </body>
</html>