{{> header }}
<style>
    #main-content {
        display: none;
    }
</style>
<div id ="user-profile">
<div id="profile-image-holder">
</div>
<div id="profile-info-header">
    <div id="profile-location"><i class="fa-solid fa-location-dot"></i> Miami, FL</div>
    <h1 id="profile-username">Nick</h1>
    <div class="captain-feed-specs">
        <div class="captain-feed-spec">
            <i class="fa-solid fa-ruler"></i> Boat Length: 10ft
        </div><div class="captain-feed-spec">
            <i class="fa-solid fa-users"></i> Boat Capacity: 5
        </div><div class="captain-feed-spec">
            <i class="fa-solid fa-toilet"></i> Bathrooms: 5
        </div><div class="captain-feed-spec">
            <i class="fa-solid fa-bed"></i> Bedrooms: 5
        </div>
    </div>
    <div id="profile-tagline">Hosting Charters at a Low Rate</div>
    <div id="profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo</div>
</div>
<div id="profile-features">
    <h2>Amenities</h2>
    <div class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Hot Tub</div>
</div>
<!-- THOTS ONLY
<div id="profile-rating"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>
-->
<!--
<div id="profile-events">
    <div id="no-profile-events">
        No Upcoming Events
    </div>
    <div class="profile-event-content" style="background:url(/img/sample/boaxt.webp)">
        <div id="profile-event-month">
            JUNE 18th
        </div>
        <div id="profile-event-date">
            Short Details for the event go here?
        </div>
        <div id="profile-event-theme">
            Brunch
        </div>
        <div id="profile-event-time">
            4:00pm
        </div>
    </div>
</div>
-->
</div>
<div id="user">

</div>
{{> footer }}