{{> header }}
<div id="feed-search">
    <div id="searchbar-holder">
        <i class="fa-solid fa-location-dot"></i>
        <input id="search-location" placeholder="Enter Location"/>
        <div id="search-button">
            <div id="search-button-content-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="search-button-content-desktop">
                SEARCH
            </div>
            </div>
    </div>
</div>
{{> footer }}