{{> header }}
<style>
    #step2-CAPTAIN, #step2-THOT, #step3-CAPTAIN, #step4-CAPTAIN {
        opacity: 0;
        transition: opacity 1s;
        display: none
    }

    input, textarea {
    color: white;
    background: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    color-scheme: dark;
    }

    #captain-onboarding-year {
        width: 4em;
    }

    #onboarding-submit {

    }
    #onboarding {
        text-transform: lowercase;
    }
    .onboarding-feed-specs input {
        width: 3em;
    }
    #step2-CAPTAIN h2 {
        margin-bottom: 0px;
    }
</style>
<div id="onboarding">
           <div class="centered">
            <div id="step1-1">
                <h2>Which One Are You?</h2>
                <div id="onboard-captain" class="onboarding-button"><i class="fa-solid fa-anchor"></i> Boat Owner</div>
                <div id="onboard-thot" class="onboarding-button"><i class="fa-solid fa-person-dress"></i> Yacht Thot</div>
            </div>
            <div id="step2-CAPTAIN">
                <h2>Enter a Username</h2>
                 <input id="captain-username" placeholder="Username.."/>
                <h2>Enter Location</h2>
                <input id="captain-location" placeholder="Boca Raton, FL"/>
                <h2>Enter Boat</h2>
                <input id="captain-boat-name" placeholder="Make/Model"/>
                <h2>Enter a Tagline</h2>
                <textarea id="captain-tagline" maxlength="20"></textarea>
                <h2>Enter a Bio</h2>
                <textarea id="captain-bio"></textarea>
                <div id="onboarding-captain-next" class="onboarding-button">Next</div>
            </div>
            <div id="step3-CAPTAIN">
                    <div class="captain-feed-specs onboarding-feed-specs">
                        <div class="captain-feed-spec ctl">
                            <i class="fa-solid fa-sailboat"></i> <span id="captain-prep-boat-name"></span>
                        </div><div class="captain-feed-spec ctr">
                             <i class="fa-solid fa-calendar"></i> Year: <input id='captain-onboarding-year' placeholder="2020"/>
                        </div><div class="captain-feed-spec cbl">
                            <i class="fa-solid fa-ruler"></i> Length: <input id='captain-onboarding-length' placeholder="10"/>
                        </div><div class="captain-feed-spec cbr">
                           <i class="fa-solid fa-users"></i> Capacity: <input id='captain-onboarding-capacity' placeholder="5"/>
                        </div>
                    </div>
                <h2>Bathrooms</h2>
                    <input id="captain-boat-bathrooms" type="number" placeholder="#"/>
                <h2>Bedrooms</h2>
                    <input id="captain-boat-bedrooms" type="number" placeholder="#"/>
                <h2>Floors</h2>
                    <input id="captain-boat-floors" type="number" placeholder="#"/>
                <div id="onboarding-captain-next-2" class="onboarding-button">Next</div>
            </div>
            <div id="step4-CAPTAIN">
                <h2>Select Your Anemities</h2>
                <div style="text-align:left">
                    <div id="bimini_top" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Bimini Top/Shade</div>
                    <div id="coolers" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Coolers</div>
                    <div id="ac" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Air Conditioning</div>
                    <div id="shower" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Shower</div>
                    <div id="fridge" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Fridge</div>
                    <div id="grill" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Grill</div>
                    <div id="bunny_pad" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Bunny Pad</div>
                    <div id="terrace" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Fold-out Terrace</div>
                    <div id="hot_tub" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Hot Tub</div>
                    </div>
                <div id="onboarding-captain-submit" class="onboarding-button">Get Started</div>
            </div>
            <div id="step2-THOT">
                <h2>Enter a Username</h2>
                <input id='thot-username' placeholder="Username.."/>
                <h2>Enter Birthday</h2>
                <input id="thot-birthday" type="date"/>
                <h2>Enter a Tagline</h2>
                <textarea id="thot-tagline" maxlength="20"></textarea>
                <h2>Enter a Bio</h2>
                <textarea id="thot-bio"></textarea>
                <div id="onboarding-submit-thot" class="onboarding-button">Get Started</div>
            </div>
        </div>

</div>
<script>
var amenities = {
    bimini_top: 0,
    coolers: 0,
    ac: 0,
    shower: 0,
    fridge: 0,
    grill: 0,
    bunny_pad: 0,
    terrace: 0,
    hot_tub: 0
}
    var anemity_checklists = document.getElementsByClassName("amenity-checklist");

    for(var i = 0; i < anemity_checklists.length; i++) {
        let icon = anemity_checklists[i].children[0];
        let am_id  = anemity_checklists[i].id
        anemity_checklists[i].onclick = function() {
            icon.classList.toggle("fa-regular")
            icon.classList.toggle("fa-solid")
            if(amenities[am_id] == 0)
                amenities[am_id] = 1
            else
                amenities[am_id] = 0
        }
    }


    document.getElementById("onboarding-captain-next-2").onclick = function() {
        showStep(4)
    }
    document.getElementById("onboarding-captain-next").onclick = function() {
        document.getElementById("captain-prep-boat-name").innerHTML = document.getElementById("captain-boat-name").value
        showStep(3)
    }

    var role = ""
    document.getElementById("onboard-captain").onclick = function() {
        role = "CAPTAIN"
        
        showStep(2)
    }
    document.getElementById("onboard-thot").onclick = function() {
        role = "THOT"
        showStep(2)
    }

    function showStep(step) {
    switch(step) {
        case 1:
            document.getElementById("step2-1").style.opacity = "0"
            document.getElementById("step2-2").style.opacity = "0"
            setTimeout(function() {
                document.getElementById("step2-1").style.opacity = "1"
                document.getElementById("step2-2").style.opacity = "1"
                }, 1000)
        break;
        case 2:
            document.getElementById("step1-1").style.opacity = "0"
            
            setTimeout(function() {
            document.getElementById("step1-1").style.display = "none"
            document.getElementById("step2-" + role).style.display = "block"
            document.getElementById("step2-" + role).style.opacity = "1"
            
            }, 1000)
        break;
        case 3:
            document.getElementById("step2-" + role).style.opacity = "0"
            
            setTimeout(function() {
             document.getElementById("step2-" + role).style.display = "none"
            document.getElementById("step3-" + role).style.display = "block"
            document.getElementById("step3-" + role).style.opacity = "1"
            
            }, 1000)
        break;
        case 4:
            document.getElementById("step3-" + role).style.opacity = "0"
            
            setTimeout(function() {
             document.getElementById("step3-" + role).style.display = "none"
            document.getElementById("step4-" + role).style.display = "block"
            document.getElementById("step4-" + role).style.opacity = "1"
            
            }, 1000)
        break;
    }

}
</script>
{{> footer }}