{{> header }}
<!--
<div id="feed-search">
    <div id="searchbar-holder">
        <i class="fa-solid fa-location-dot"></i>
        <input id="search-location" placeholder="Enter Location"/>
        <div id="search-button">
            <div id="search-button-content-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="search-button-content-desktop">
                SEARCH
            </div>
            </div>
    </div>
</div>
-->
<style>
#main-content {
    display: none;
}
#thot-feed {
    font-family: sans-serif;
    padding-top: 50px;
}
.captain-profile {
    position: relative;
    padding-bottom: 50px;
}
.captain-profile-photo {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-image: url(/img/sample/boat.webp);
    background-size: cover;
    position: relative;
}
.captain-feed-info {
    position: relative;
    padding: 10px;
}
.captain-feed-username {
    font-family: 'antipasto';
    font-size: 3em;
    text-align: center;
    /* padding-top: 1em; */
    padding-bottom: 10px;
}

.captain-feed-link {
    color: black;
    text-decoration: none;

}
.captain-feed-location {
    color: dimgray;
}
.captain-feed-make-model {
    position: absolute;
    top: 10px;
    right: 10px;
    color: dimgray;
    font-family: sans-serif;
}
.profile-image-counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, .7);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: .8em;
    padding: 5px;
    }
</style>
<div id="thot-feed">
    {{#each captains}}
        <a class='captain-feed-link' href="/captain">
        <div class="captain-profile">
            <div class="captain-profile-photo">
                <div class="profile-image-counter">1/1</div>
            </div>
            <div class="captain-feed-info">
                <div class="captain-feed-make-model">Schaefer 660</div>
                <div class="captain-feed-location"><i class="fa-solid fa-location-dot"></i> Miami, FL</div>
                <div class="captain-feed-username">{{username}}</div>
                <div class="captain-feed-ne"><i class="fa-solid fa-calendar-days"></i> Next Event: TBD</div>
            </div>
            <div class="captain-feed-specs">
                <div class="captain-feed-spec">
                    <i class="fa-solid fa-ruler"></i> Boat Length: 10ft
                </div><div class="captain-feed-spec">
                    <i class="fa-solid fa-users"></i> Boat Capacity: 5
                </div><div class="captain-feed-spec">
            <i class="fa-solid fa-toilet"></i> Bathrooms: 5
        </div><div class="captain-feed-spec">
            <i class="fa-solid fa-bed"></i> Bedrooms: 5
        </div>
            </div>
        </div>
        </a>
    {{/each}}
</div>
{{> footer }}