{{> header }}
<style>
    #main-content video {
        display: none;
    }
</style>
<div id ="user-profile" class="fullpage-text-content">
<div id="profile-image-holder">
</div>
<h1 id="profile-username">El_Capitan69</h1>
<div id="profile-location">Miami, FL</div>
<div id="profile-tagline">The Best a Man Can Get ;)</div>

<!-- THOTS ONLY
<div id="profile-rating"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>
-->

<div id="profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo</div>
<div id="profile-events">
    <div id="no-profile-events">
        No Upcoming Events
    </div>
    <div class="profile-event-content" style="background:url(/img/sample/boaxt.webp)">
        <div id="profile-event-month">
            JUNE 18th
        </div>
        <div id="profile-event-date">
        </div>
        <div id="profile-event-theme">
            Brunch
        </div>
        <div id="profile-event-time">
            4:00pm
        </div>
    </div>
</div>
</div>
<div id="user">

</div>
{{> footer }}