@font-face {
    font-family: antipasto;
    src: url(/fonts/AntipastoPro_trial.ttf);
  }

body {
    font-family: antipasto;
    background: white;
    margin: 0
}

#header {
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

#step1-1, #step1-2, #step2-1, #step2-2 {
    opacity: 0;
    transition: opacity 1s;
}
#step1-1 {
    opacity: 1;
}
#step1-2 {
    opacity: 1;
}
#mobile-menu {
    position: fixed;
    right: 10px;
    top: 7px;
    font-size: 2em;
    cursor: pointer;
}
#header img {
    height: 100%;
    float: left;
}
.green-icon {
    color: dodgerblue;
}
#thot-profile-holder {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#thot-profile-img-holder {
    background: url(/img/no-image-thot.webp);
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    position: relative;
}
#edit-profile-button {
    background: dodgerblue;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 50px;
}
.profile-image-counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, .7);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: .8em;
    padding: 5px;
    }
#main-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#main-content video {
    height: 100%;
    margin-left: -50%;
}

.boat-stats {
    font-family: sans-serif;
    padding-bottom: 25px;
}
.captain-feed-specs {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.ctl {
    border-top: 0px !important;
    border-left: 0px !important;
    padding-bottom: 5px;
}
.ctr {
        border-top: 0px !important;
        border-right: 0px !important;
        padding-bottom: 5px;
}
.cbl {
    border-bottom: 0px !important;
    border-left: 0px !important;
    padding-top: 5px;
}
.cbr {
    border-bottom: 0px !important;
    border-right: 0px !important;
    padding-top: 5px;
}

#faqs {
    text-align: center;
}

.active-onboarding {
    background: dodgerblue !important;
    color: white !important;

}

.fullpage-text-content h1 {
    text-align: center;
}

.fullpage-text-content, #onboarding {
    position: fixed;
    width: calc(90vw - 20px);
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    height: 80vh;
    left: 5vw;
    top: 10vh;
    padding: 10px;
    
}

#desktop-menu {
    position: fixed;
    top: 0;
    right: 50px;
    height: 50px;
    line-height: 50px;
    display: none;
}

#desktop-menu a {
    font-family: antipasto;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    margin-left: 10px;
}
#desktop-menu a:last-child {
    color: white;
    background: black;
    border-radius: 30px;
    padding: 8px;
}
#onboarding-left {
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#onboarding-right {
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 90%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

#mobile-menu-content {
    background: white;
    position: fixed;
    width: 100%;
    top: 50px;
    transition: transform .5s;
    transform: translateY(calc(-100% - 50px));
}
.mobile-menu-active {
    transform: translateY(0) !important;
}

#mobile-menu-content a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
}

.mobile-menu-item {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#onboarding-left h1 {
    font-size: 2em;
}

#onboarding-right h2 {
    margin-top: 0;
    margin-bottom: 0px;
}
.thot-profile-actions, .captain-profile-actions {
    height: 100px;
    position: relative;
    background: white;
    width: 100%;
    margin-top: 20px;
}
.thot-profile-message, .captain-profile-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 2em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
    color: black;
}
.thot-profile-goto, .captain-profile-goto {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% - 2em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
    color: black;
}
.thot-profile-like, .captain-profile-like {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 2em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
}

#captain-profile-actions {
    bottom: 50px;
    height: 100px;
    background: white;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#captain-profile-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 2em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
}
    #captain-profile-back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% - 2em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
}
    #captain-profile-like {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 3em), -50%);
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    font-size: 2em;
}

#user-profile {
    left: 0;
    top: 0;
    height: fit-content;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    background: white;
    color: black;
}

.captain-feed-ne {
    display: none;
}

#user-profile h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    font-family: sans-serif;
}

#profile-image-counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, .7);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: .8em;
    padding: 5px;
    }
#profile-image-edit {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, .7);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: .8em;
    padding: 5px;
}

#profile-tagline {
    font-family: sans-serif;
    font-style: italic;
    margin-top: 25px;
    margin-left: 20px;
}
.amenity-checklist {
    font-size: 1.5em;
    margin-top: 15px;
}
#action-bar {
    position: fixed;
    background: white;
    width: 100%;
    bottom: 0;
    height: 50px;
    line-height: 65px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.action-bar-item {
    width: 33%;
    display: inline-block;
    font-size: 2em;
    padding-top: 8px;
    text-align: center;
}
#profile-image-holder {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-image: url(/img/no-image-captain.webp);
    background-size: cover;
    position: relative;
}
.captain-feed-spec {
    display: inline-block;
    width: calc(50% - 2px);
    height: 50px;
    line-height: 50px;
    border: 1px solid lightgrey;
    text-align: center;
    font-family: sans-serif;
}

#profile-event-month {
    font-family: sans-serif;
    background: rgb(7, 81, 194);
    color: white;
    text-align: center;
    padding: 10px;
}
.about-us-page {
    font-family: sans-serif;
    overflow: scroll;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.about-us-page::-webkit-scrollbar {
    display: none;
  }

#profile-event-date {
    text-align: center;
    font-family: sans-serif;
    font-size: .8em;
    top: calc(20px + 50%);
    width: 90%;
}
#profile-event-theme {
    position: absolute;
    left: 5px;
    bottom: 5px;
}
#profile-event-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: sans-serif;
    font-size: .8em;
}

#onboarding-about {
    text-indent: 1em;
    font-size: 1.5em;
    text-align: left;
}

.onboarding-button {
    background: white;
    border-radius: 30px;
    padding: 20px;
    color: black;
    font-size: 2em;
    margin-top: 20px;
    cursor: pointer;
}

#onboarding-back-thot, #onboarding-submit-thot, #onboarding-captain-next, #onboarding-captain-back, #onboarding-captain-back-2, #onboarding-captain-next-2, #onboarding-captain-submit, #onboarding-captain-back-3 {
    width: calc(50% - 40px);
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
}

.g_id_signin {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
  }

  #login {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  #profile-location {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1em;
    font-family: sans-serif;
    color: dimgray;
  }
  #profile-location i {
    font-size: .8em;
  }
  #profile-bio {
    width: 90%;
    margin: auto;
    padding-top: 25px;
  }
  #profile-features {
    width: 90%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 125px;
  }

  #profile-events {
    background: lightgrey;
    height: 25%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

  #feed-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100vh;
  }

  #searchbar-holder {
    background: white;
    padding: 5px;
    border-radius: 50px;
    position: relative;
  }
  #search-location {
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    width: calc(100% - 231px);
    border: 0;
    font-family: antipasto;
    outline: 0;
    margin-top: 5px;
  }
  #searchbar-holder i {
    margin-left: 15px;
  }
  #search-button {
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
    background: darkblue;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
  }
  #search-button * {
    display: inline-block;
  }

  #searchbar-holder * {
    display: inline-block;
  }

  #tos-agree {
    font-style: italic;
    margin-top: 25px;
  }
  #tos-agree a {
    color: white;
  }

  #no-profile-events {
    display: none;
    color: gray;
  }

  .profile-event-content {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
  }
  #support-holder {
    font-family: sans-serif;
  }
  #support-holder a {
    color: white;
  }
  .login-content, 
    #support-holder {
    position: fixed;
    width: fit-content;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10px;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
  }

  #profile-bio {
    font-family: sans-serif;
  }

#footer {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    padding: 4px;
}

#footer a {
    color: white;
    font-family: sans-serif;
}

#search-button-content-desktop {
    display: none;
}

#search-button-content-mobile {
    color: white !important;
}



@media (min-aspect-ratio: 16/9) {
    #main-content video {
        height: auto;
        width: 100%;
    }
  }


  .show-desktop-hider {
    display: none;
  }
  @media (min-width: 1080px) {

    .show-desktop-hider {
        position: fixed;
        z-index: 999;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
    }

    .about-us-page {
        width: 50%;
    }

    #search-button-content-mobile {
        display: none;
    }
    #footer {
        display: inherit;
    }
    #onboarding-left h1 {
        font-size: 3em;
    }

    #searchbar-holder {
        font-size: 2em;
    }

    #searchbar-holder input {
        font-size: 1.5em;
    }

    #search-button-content-desktop {
        display: inherit;
    }
    
    #onboarding-about {
        text-indent: 2em;
        font-size: 2em;
        text-align: left;
    }

    #mobile-menu {
        display: none;
    }
    #desktop-menu {
        display: inherit;
    }

    #onboarding-left {
        float: left;
        width: 50%;
        height: 100%;
    }
    #onboarding-right {
        float: right;
        width: 50%;
        height: 100%;
    }

    #profile-info-header {
        position: absolute;
        top: 100px;
        left: 50px;
        background: rgba(255, 255, 255, .7);
        padding: 10px;
        border-radius: 10px;
    }

    #profile-bio {
        max-width: 300px;
    }
    #profile-events {
        position: absolute;
        top: 100px;
        width: 25%;
        right: 50px;
        padding: 10px;
    }

  }
  
  